* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'kaushan Script';
}

body {
    font-size: 16px;
}

nav {
    display: flex;
    padding: 15px;
}

nav img {
    margin-left: 10px;
    cursor: pointer;
}

nav .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .header .left {
    color: palevioletred;
    margin-left: 110px;
    width: 100%;
    font-size: 1.4em;
    display: flex;
    justify-content: center;
}

nav .header .left .header-left-link {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.9s;
}

nav .header .left .header-left-link:hover {
    color: black;
}

nav .header .right {
    width: 100%;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .header .right div {
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
}

.tel i {
    transform: rotateY(180deg);
    padding-top: 3px;
}

nav .header .right .cart {
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}

nav .header .right i {
    margin-right: 15px;
    font-size: 1.3em;
}

nav .header .right .cart:hover {
    background-color: palevioletred;
    color: white;
    border: 1px solid palevioletred;
}

.total-cart {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.555);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.purchases {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.purchases li {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

}

.purchases li img {
    border-radius: 100px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}

.purchases li .cart-info {
    margin: 0 40px;
}

.purchases li .cart-info .cart-item {
    font-weight: bold;
    margin-bottom: 5px;
}

.purchases li .cart-info .price {
    font-size: 0.8em;
    direction: rtl;
}

.purchases li .cart-info .price span {
    font-size: 1.3em;
}

.purchases li i {
    color: palevioletred;
    font-size: 1.3em;
}

.total-cart .total-price {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total-cart .total-price .price {
    font-weight: bold;
}

.total-cart .total-price .price span {
    font-weight: normal;
}

.total-cart .total-price span {
    font-size: 1.2em;
}

.total-cart .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-cart .btns .clear-cart {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.total-cart .btns .checkout {
    border: 1px solid palevioletred;
    padding: 5px;
    border-radius: 5px;
}

.show-total-cart {
    transform: rotateY(-360deg);
    padding: 30px;
    width: 300px;
}

.banner {
    padding-top: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 45px);
    flex-direction: column;
    background: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)), url('./img/headerBcg.jpeg') center/cover fixed no-repeat;

}

.banner .welcome-text {
    font-size: 2.3em;
    color: white;
    margin-bottom: 9px;
    text-align: center;
}

.banner span {
    font-size: 1.7em;
    color: palevioletred;
    font-weight: bold;
}

.explore {
    border: 3px solid black;
    border-radius: 5px;
    padding: 6px 12px;
    font-size: 1.5em;
    transition: 0.2s;
    text-decoration: none;
    color: black;
}

.explore:hover {
    background-color: black;
    color: palevioletred;
    cursor: pointer;
}

.about-us {
    display: flex;
    justify-content: center;
    padding: 90px
}

.about-us .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.about-us .left {
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about-us .left .header {
    font-size: 2.2em;
    padding-bottom: 15px;
}

.about-us .left span {
    font-size: 1.7em;
    color: palevioletred;
}

.about-us .left .content {
    color: rgb(104, 101, 101);
    padding-bottom: 25px;
    padding-right: 90px;
}

.about-us .explore {
    border: 1px solid black;
    font-size: 1em;
}

.about-us .right div {
    position: relative;
    width: 100%;
    height: 100%;
}

.about-us .right div::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -25px;
    width: 100%;
    height: 100%;
    outline: 8px solid rgb(255, 222, 160);
    z-index: -1;
    transition: all 1s ease-in-out;
}

.about-us .right div:hover::before {
    top: 0px;
    left: 0px;
}

.about-us .right img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

main {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

main .header {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 1.9em;
    padding-top: 40px;
}

main span {
    font-size: 1.5em;
    color: palevioletred;
    font-weight: bold;
}

main .filters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

main .filters .filter {
    border: 1px solid black;
    margin: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 8px;
    transition: 0.3s;
}

main .filters .filter:hover {
    background-color: black;
    color: palevioletred;
}

main .input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

main .input-container i {
    height: 40px;
    width: 40px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

main .input-container input {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 450px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-left: 15px;
    font-size: 1.2em;
}

main .input-container input:focus {
    box-shadow: 0 0 3px 3px rgba(84, 179, 223, 0.63);
}

main section .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 100px;
    gap: 25px;
}

main section .grid-item {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

main section .grid-item .img {
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

main section .grid-item .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    font-size: 1.2em;
    z-index: 2;
}

main section .grid-item i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 50px;
    background-color: rgb(248, 240, 168);
    border-top-left-radius: 15px;
    position: absolute;
    bottom: 0px;
    right: -68px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.1em;
    transition: 1s ease-in-out;
}

main section .grid-item .img:hover+i {
    bottom: 68px;
    right: 0px;
}

main section .grid-item .img:hover {
    transform: scale(120%);
}

main section .grid-item i:hover {
    bottom: 68px;
    right: 0px;
    color: white;
}

.modal-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;
}

.modal-container .modal {
    max-width: 650px;
    position: relative;
}

.modal-container .modal img {
    width: 100%;
    border-radius: 5px;
}

.modal-container .modal i {
    color: palevioletred;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}

.modal-container .modal i:hover {
    color: rgb(248, 240, 168);
}

.modal-container .modal #close-icon {
    top: -50px;
    right: 0px;
    font-size: 2.5em;
}

.modal-container .modal #pre-btn {
    left: -30px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 4.5em;
}

.modal-container .modal #next-btn {
    right: -30px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 4.5em;
}

.icons-nav i {
    display: none;
}



@media screen and (max-width : 1000px) {

    nav .header .right,
    nav .header .cart {
        display: none;
    }

    nav {
        flex-wrap: wrap;
        overflow: hidden;
        height: 75px;
        transition: 1s;
    }

    nav .header .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 7px 0px 0px 8px;
    }

    nav .header .left .x {
        margin: 7px 0px;
    }

    .icons-nav {
        padding-right: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .icons-nav i {
        color: palevioletred;
        font-size: 2.1em;
        display: block;
    }

    .show-nav {
        height: 200px;
    }

    .about-us {
        flex-direction: column;
    }

    .about-us .right {
        margin-top: 100px;
    }

    main section .cards-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width : 550px) {
    main section .cards-container {
        grid-template-columns: 1fr;
        padding: 20px 25px;

    }

    main .input-container {
        width: auto;
        margin: 10px 25px;
    }

    main .input-container input {
        width: 100%;
    }
}